@import "./color_schemes/light";

// --- Theme
$base-button-color: $nord4;
$body-background-color: $nord6;
$btn-primary-color: $nord4;
$code-background-color: $nord4;
$search-background-color: $nord4;
$sidebar-color: $nord4;
$table-background-color: $nord4;
$body-heading-color: $nord1;
$body-text-color: $nord0;
$search-result-preview-color: $nord1;
$link-color: $nord10;
$nav-child-link-color: $nord9;
