@import "./vendor/nord";
@import "./color_schemes/light";

// --- Theme
$base-button-color: $nord4;
$body-background-color: $nord6;
$btn-primary-color: $nord4;
$code-background-color: $nord4;
$search-background-color: $nord4;
$sidebar-color: $nord4;
$table-background-color: $nord4;
$body-heading-color: $nord1;
$body-text-color: $nord0;
$search-result-preview-color: $nord1;
$link-color: $nord10;
$nav-child-link-color: $nord9;

// --- Fonts
$font-size-1: 11px;
$font-size-1-sm: 12px;
$font-size-2: 13px;
$font-size-3: 14px;
$font-size-4: 16px;
$font-size-5: 18px;
$font-size-6: 20px;
$font-size-7: 26px;
$font-size-8: 34px;
$font-size-9: 38px;
$font-size-10: 44px;
$font-size-10-sm: 50px;
