<img class="btn m-3 toggle-theme" src="../../assets/images/dark_mode.svg" />
<script>
  const toggleTheme = document.querySelector(".toggle-theme");

  function setTheme() {
    currentTheme = localStorage.getItem("theme");
    if (currentTheme) {
      if (currentTheme === "overridelight") {
        toggleTheme.src = "../../assets/images/light_mode.svg";
      } else {
        toggleTheme.src = "../../assets/images/dark_mode.svg";
      }
      jtd.setTheme(currentTheme);
    }
  }

  jtd.addEvent(toggleTheme, "click", function () {
    if (jtd.getTheme() === "nord") {
      localStorage.setItem("theme", "nord-dark");
    } else {
      localStorage.setItem("theme", "nord");
    }
    setTheme();
  });

  jtd.addEvent(window, "DOMContentLoaded", function () {
    setTheme();
  });
</script>
